    @font-face {
        font-family: "Eyephabet";
        src: url("./fonts/Eyephabet-Regular.ttf") format("truetype");
    }

    .my-font {
        font-family: "Eyephabet", serif;
    }

    h1 {
        font-family: "Eyephabet", serif;
        font-size: 100px;
    }

    h2 {
        font-family: "Eyephabet", serif;
        font-size: 60px;
    }

    p {
        font-family: "Eyephabet", serif;
        font-size: 20px;
    }

    p.light {
        font-weight: 500;
    }

    .typewriter {
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: pre;
        margin: 0 auto;
        letter-spacing: .15em;
        animation: 
            typing 3.5s steps(30, end), 
            blink-caret .75s step-end infinite;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
    }