    @font-face {
        font-family: "Eyephabet";
        src: url("./fonts/Eyephabet-Regular.ttf") format("truetype");
    }

    .my-font {
        font-family: "Eyephabet", serif;
    }

    h1 {
        font-family: "Eyephabet", serif;
        font-size: 80px;
    }

    h2 {
        font-family: "Eyephabet", serif;
        font-size: 60px;
    }

    p {
        font-family: "Eyephabet", serif;
        font-size: 20px;
    }
