    @font-face {
        font-family: "Eyephabet";
        src: url("/fonts/Eyephabet-Regular.ttf") format("truetype");
    }

    .my-font {
        font-family: "Eyephabet", serif;
    }

    h1 {
        font-family: "Eyephabet", serif;
    }

    p {
        font-family: "Eyephabet", serif;
    }
